* {
  margin: 0 auto;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
	background-color:black;
}

body {
  font-size: 16px;
	 margin: 0 auto;
}
iframe {
	margin: 0 auto;
	 
}

h1 {
	color: cornflowerblue;
	 padding: 1.2rem;
	margin: 0 auto;
}